<ion-view hide-nav-bar="true">
  <ion-content class="bg-chatinfo" scroll="false">
    <a href="#/chat" class="nav-back"></a>

      <br><br>This is the make plans screen.

      <label class="item item-input item-button-right">
      <input type="text" g-places-autocomplete ng-model="place" ng-disabled="!bothEntered" placeholder="Enter A Place"/>
      </label>
      <button class="button button-block button-stable ion-plus-round" ng-disabled="!bothEntered" ng-click="makePlans(place); place = null">
        </button>

    <!--   <label class="item item-input">
      <input type="text" g-places-autocomplete ng-model="choices.second" placeholder="Second Option"/>
      </label> -->

      <div class="list card">

    <!--     <div class="item item-thumbnail-left">
          <h2>Marty McFly</h2>
          <p>November 05, 1955</p>
        </div> -->

        <div class="item item-body">
          <div class="row">
          <div class="col" ng-if="one">
            {{ one.name }}
            <br>
            {{ one.formatted_address }}
            <br>
            <img src="{{one.photo}}" ng-if="one.photo" />
          </div>
          <div class="col" ng-if="two">
            {{ two.name }}.
            <br>
            <img src="{{two.photo}}" ng-if="two.photo" />
          </div>
          </div>
     </div>

    <!--     <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            {{ choices.first.name }}
            <img src="{choices.first.name.photos[0].getUrl}" />
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            {{ choices.second.name }}
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>

      </div>
     -->
      <button class="button button-block button-royal" id="submit" ng-disabled="!bothEntered" ng-click="makePlans(place)">
        Submit Choices
      </button>

  </ion-content>
</ion-view>
