/* Empty. Add your own CSS if you like */

.bg-splash {
  background-image: -webkit-image-set(
    url('../img/Splash.png') 1x,
    url('../img/Splash@2x.png') 2x,
    url('../img/Splash@3x.png') 3x
  );
  margin-top: 0px;
}

#banner {
  width: 414px;
  height: 736px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
}

#banner div {
  position: absolute;
  margin: 0px;
}

#banner div:nth-child(2) {
  -webkit-animation: wipe 6s;
  -webkit-animation-delay: 0s;
  -webkit-animation-direction: up;
  -webkit-mask-size: 300px 3000px;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top,
    color-stop(0.00,  rgba(0,0,0,0)),
    color-stop(0.25,  rgba(0,0,0,0)),
    color-stop(0.27,  rgba(0,0,0,0)),
    color-stop(0.80,  rgba(0,0,0,1)),
    color-stop(1.00,  rgba(0,0,0,1)));
 }

 @-webkit-keyframes wipe {
     0% {
    -webkit-mask-position: 414px 736px;
  }
     100% {
    -webkit-mask-position: 0 0;
  }
}

.bg-question {
  background-image: -webkit-image-set(
    url('../img/questions.png') 1x,
    url('../img/questions@2x.png') 2x,
    url('../img/questions@3x.png') 3x
  );
  margin-top: 0px;
}

.bg-location {
  background-image: -webkit-image-set(
    url('../img/location.png') 1x,
    url('../img/location@2x.png') 2x,
    url('../img/location@3x.png') 3x
  );
  margin-top: 0px;
}

.bg-swipe {
  background-image: -webkit-image-set(
    url('../img/swipe.png') 1x,
    url('../img/swipe@2x.png') 2x,
    url('../img/swipe@3x.png') 3x
  );
  margin-top: 0px;
}

.bg-chat {
  background-image: -webkit-image-set(
    url('../img/chatroom.png') 1x,
    url('../img/chatroom@2x.png') 2x,
    url('../img/chatroom@3x.png') 3x
  );
  margin-top: 0px;
}

.bg-chatinfo {
  background-image: -webkit-image-set(
    url('../img/chatinfo.png') 1x,
    url('../img/chatinfo@2x.png') 2x,
    url('../img/chatinfo@3x.png') 3x
  );
  margin-top: 0px;
}

/* Chat room styles */ 

.profile-picture {
  border-radius: 200px;
  height: 50px;
  margin-bottom: -56px;
  margin-left: -58px;
}
.message-container {
  display: block;
  height: 100%;
  width: 310px;
  margin-bottom: 15px;
  margin-left: 75px;
  margin-right: auto;
}

.message-text {
  margin-top: -30px;
  padding-left: 10px;
  padding-right: 10px;
}

.chat-view {
  position: absolute;
  margin-top: 82.9px;
  height: 603.62px;
  width: 414px;
  background: #FFFEF5;
  font-family: "Avenir Next";
  font-size: 18px;
  border: 0px solid #979797;
}

.message-bubble {
  display: block;
  width: 310px;
  padding: 10px;
  position: relative;
  float: top;
  background-image: -webkit-image-set(
    url('../img/message-middle.png') 1x,
    url('../img/message-middle@2x.png') 2x,
    url('../img/message-middle@3x.png') 3x
  );
}

.top-message {
  display: block;
  height: 32px;
  width: 310px;
  position: relative;
  float: top;
  background-image: -webkit-image-set(
    url('../img/message-top.png') 1x,
    url('../img/message-top@2x.png') 2x,
    url('../img/message-top@3x.png') 3x
  );

  background-repeat: no-repeat;
}

.bottom-message {
  display: block;
  position: absolute;
  float: top;
  width: 310px;
  height: 20px;
  margin-bottom: 20px;
  background-image: -webkit-image-set(
    url('../img/message-bottom.png') 1x,
    url('../img/message-bottom@2x.png') 2x,
    url('../img/message-bottom@3x.png') 3x
  );
  background-repeat: no-repeat;
}

.left-message {
  display: block;
  position: relative;
  float: left;
  width: 10px;
  height: 77px;
  background-image: -webkit-image-set(
    url('../img/left-message-border.png') 1x,
    url('../img/left-message-border@2x.png') 2x,
    url('../img/left-message-border@3x.png') 3x
  );
  background-repeat: no-repeat;
}

.right-message {
  display: block;
  position: relative;
  float: right;
  width: 11px;
  height: 77px;
  background-image: -webkit-image-set(
    url('../img/right-message-border.png') 1x,
    url('../img/right-message-border@2x.png') 2x,
    url('../img/right-message-border@3x.png') 3x
  );
  background-repeat: no-repeat;
}

.chat-form {
  position: absolute;
  background-color: transparent;
  font-family: "Avenir Next";
  font-size: 1.3em !important;
  padding: 10px !important;
  
  left: 8.85px;
  top: 693.75px;
  height: 34px !important;
  width: 320px;
  border: none;
}

.nav-back {
  position: absolute;
  left: 10px;
  top: 26px;
  height: 29px;
  width: 77px;
  background-image: -webkit-image-set(
    url('../img/btnback.png') 1x,
    url('../img/btnback@2x.png') 2x,
    url('../img/btnback@3x.png') 3x
  );
  margin-top: 0px;
}
.bg-form-signup {
  background-image: -webkit-image-set(
    url('../img/signup.png') 1x,
    url('../img/signup@2x.png') 2x,
    url('../img/signup@3x.png') 3x
  );
  margin-top: 0px;
}

.bg-form-login {
  background-image: -webkit-image-set(
    url('../img/login.png') 1x,
    url('../img/login@2x.png') 2x,
    url('../img/login@3x.png') 3x
  );
  margin-top: 0px;
}

.btn-splash {
  appearance: button;
  color: white;
  display: inline-block;
  font-family: "Avenir Next";
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  padding: 2px 8px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 325px;
}

.form-username {
  background-color: transparent;
  border: none;
  font-family: "Avenir Next";
  font-size: 1.3em !important;
  height:  49px !important;
  left: 62.5px;
  padding: 10px !important;
  position: absolute;
  top: 230.5px;
  width: 289px;
}

.form-password {
  background-color: transparent;
  border: none;
  font-family: "Avenir Next";
  font-size: 1.3em !important;
  height:  49px !important;
  left: 62.5px;
  padding: 10px !important;
  position: absolute;
  top: 299.5px;
  width: 289px;
}

.form-submit {

  appearance: button;
  background-image: -webkit-image-set(
    url('../img/formsubmit.png') 1x,
    url('../img/formsubmit@2x.png') 2x,
    url('../img/formsubmit@3x.png') 3x
  );
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Avenir Next";
  font-size: 24px;
  height: 50px;
  left: 62px;
  line-height: 50px;
  padding: 2px 8px;
  position: absolute;
  text-align: center;
  top: 388px;
  width: 290px;
}

.fb {
  background-image: -webkit-image-set(
    url('../img/facebook.png') 1x,
    url('../img/facebook@2x.png') 2x,
    url('../img/facebook@3x.png') 3x
  );
  left: 45px;
  top: 553px;
}

.create-account {
  background-image: -webkit-image-set(
    url('../img/createaccount.png') 1x,
    url('../img/createaccount@2x.png') 2x,
    url('../img/createaccount@3x.png') 3x
  );
  left: 45px;
  top: 622px;
}

.btn-q {
  appearance: button;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  font-family: "Avenir Next";
  height: 50px;
  line-height: 50px;
  padding: 2px 8px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 127px;
}

.q {
  background-image: -webkit-image-set(
    url('../img/q.png') 1x,
    url('../img/q@2x.png') 2x,
    url('../img/q@3x.png') 3x
  );
  left: 45px;
  top: 622px;
}

.q-selected {
  background-image: -webkit-image-set(
    url('../img/q-selected.png') 1x,
    url('../img/q-selected@2x.png') 2x,
    url('../img/q-selected@3x.png') 3x
  );
  left: 45px;
  height: 49px;
  top: 622px;
}

.qcol1 {
  left: 52px;
}

.qcol2 {
  left: 235px;
}

.qrow1 {
  top: 156px;
}

.qrow2 {
  top: 250px;
}

.qrow3 {
  top: 344px;
}

.qrow4 {
  top: 438px;
}

.qrow5 {
  top: 532px;
}

.qrow6 {
  top: 628.5px;
}

td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 300px;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
}
/*
td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}
*/

td-cards {
  display: block;
}

td-card {
  display: block;
}

td-card .image {
  position: relative;
}

td-card img {
  max-width: 100%;
  border-radius: 6px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}