<ion-view view-title="Hello World" hide-nav-bar="true">
  <ion-content class="bg-question" scroll="false">
  <a class="btn-q qcol1 qrow1" ng-class="{'q': !q1a, 'q-selected': q1a}" ng-model="q1a" ng-mousedown="tq1a()">{{question[0][0]}}</a>
  <a class="btn-q qcol2 qrow1" ng-class="{'q': !q1b, 'q-selected': q1b}" ng-model="q1b" ng-mousedown="tq1b()">{{question[0][1]}}</a>

  <a class="btn-q qcol1 qrow2" ng-class="{'q': !q2a, 'q-selected': q2a}" ng-model="q2a" ng-mousedown="tq2a()">{{question[1][0]}}</a>
  <a class="btn-q qcol2 qrow2" ng-class="{'q': !q2b, 'q-selected': q2b}" ng-model="q2b" ng-mousedown="tq2b()">{{question[1][1]}}</a>

  <a class="btn-q qcol1 qrow3" ng-class="{'q': !q3a, 'q-selected': q3a}" ng-model="q3a" ng-mousedown="tq3a()">{{question[2][0]}}</a>
  <a class="btn-q qcol2 qrow3" ng-class="{'q': !q3b, 'q-selected': q3b}" ng-model="q3b" ng-mousedown="tq3b()">{{question[2][1]}}</a>

  <a class="btn-q qcol1 qrow4" ng-class="{'q': !q4a, 'q-selected': q4a}" ng-model="q4a" ng-mousedown="tq4a()">{{question[3][0]}}</a>
  <a class="btn-q qcol2 qrow4" ng-class="{'q': !q4b, 'q-selected': q4b}" ng-model="q4b" ng-mousedown="tq4b()">{{question[3][1]}}</a>

  <a class="btn-q qcol1 qrow5" ng-class="{'q': !q5a, 'q-selected': q5a}" ng-model="q5a" ng-mousedown="tq5a()">{{question[4][0]}}</a>
  <a class="btn-q qcol2 qrow5" ng-class="{'q': !q5b, 'q-selected': q5b}" ng-model="q5b" ng-mousedown="tq5b()">{{question[4][1]}}</a>

  <a class="btn-q qcol1 qrow6" ng-class="{'q': !q6a, 'q-selected': q6a}" ng-model="q6a" ng-mousedown="tq6a()">{{question[5][0]}}</a>
  <a class="btn-q qcol2 qrow6" ng-class="{'q': !q6b, 'q-selected': q6b}" ng-model="q6b" ng-mousedown="tq6b()">{{question[5][1]}}</a>
  </ion-content>
</ion-view>
