<ion-view hide-nav-bar="true">
  <ion-content class="bg-chat" scroll="false">
  <a href="#/swipe" class="nav-back"></a>

  <div class="chat-view">
    <ion-content>
         
        <div class="message-container" ng-repeat="(key, value) in messages">
        <img class="profile-picture" src="{{ value.picture }}" />
          <div class="top-message"></div>
          <div class="message-bubble">
            <div class="message-text">
              <b>{{ value.name }}</b> : {{ value.message }}
            </div>
          </div>
          <div class="bottom-message"></div>
        </div>

    </ion-content>
  </div>
  
  <form ng-submit="addItem()">
  	<input type="text" class="chat-form" placeholder="Type in your message..." ng-model="form.itemToAdd"/>
  	<!-- <input type="submit" /> -->
  </form>

</ion-view>
