<ion-view hide-nav-bar="true">
  <ion-content class="bg-chat" scroll="false">
  <a class="nav-back" ng-click="logout()"></a>
  <a href="#/chatinfo" class="nav-info"></a>

  <div ng-class="isFocused ? 'chat-view' : 'chat-view-keyboard'">
    <ion-content>
        <div class="message-container" ng-repeat="(key, value) in messages">
        <img class="profile-picture" src="{{ value.picture }}" />
          <div class="top-message"></div>

          <div class="message-bubble">
            
            <div class="message-text" ng-if="value.message">
              <b>{{ value.name }}</b>: {{ value.message }}
            </div>
            
            <div class="event-images" ng-if="value.event1">
              <div class="poll-chat">
                <b>{{ value.name }}</b>: Let's go to one of these:
              </div>
              <div class="event-photos">
                <img class="event-pic" src="{{value.event1.photo}}" />
                <a class="btn-q" ng-class="{'poll-btn': !voteA, 'poll-btn-selected': voteA}" ng-model="voteA" ng-click="vote(0)">{{voteAtext}}</a>
              </div>
              <div class="event-photos">
                <img class="event-pic" src="{{value.event2.photo}}" />
                <a class="btn-q" ng-class="{'poll-btn': !voteB, 'poll-btn-selected': voteB}" ng-model="voteB" ng-click="vote(1)">{{voteBtext}}</a>
              </div>
            </div>

          </div>

          <div class="bottom-message"></div>
        </div>
    </ion-content>
  </div>

  <form ng-submit="addItem()" >
    <div ng-class="isFocused ? 'chat-form' : 'chat-form-keyboard'">
    	<input type="text" class="chat-input" placeholder="Type in your message..." ng-model="form.itemToAdd" ng-focus="isFocused = true" ng-blur="isFocused = false" />
    </div>
  	<!-- <input type="submit" class="chat-submit" /> -->
  </form>
</ion-view>
