<ion-view hide-nav-bar="true">
  <ion-content class="bg-chat" scroll="false">
  <a href="#/swipe" class="nav-back"></a>
  <a href="#/chatinfo" class="nav-info"></a>

  <div ng-class="isFocused ? 'chat-view' : 'chat-view-keyboard'">
    <ion-content>
        <div class="message-container" ng-repeat="(key, value) in messages">
        <img class="profile-picture" src="{{ value.picture }}" />
          <div class="top-message"></div>
          <div class="message-bubble">
            <div class="message-text">
              <b>{{ value.name }}</b> : {{ value.message }}
            </div>
          </div>
          <div class="bottom-message"></div>
        </div>
    </ion-content>
  </div>

  <form ng-submit="addItem()" >
    <div ng-class="isFocused ? 'chat-form' : 'chat-form-keyboard'">
    	<input type="text" class="chat-input" placeholder="Type in your message..." ng-model="form.itemToAdd" ng-focus="isFocused = true" ng-blur="isFocused = false" />
    </div>
  	<!-- <input type="submit" class="chat-submit" /> -->
  </form>
</ion-view>
